@model IEnumerable<ProjetoLucy.Domain.Entities.Produto>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Produtos</h2>

<div class="row">	
	<a href="@Url.Action("Produto", "Produto")" class="btn btn-primary small" role="button" aria-pressed="true">Novo Produto</a>    
</div><br />
<div class="row">
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Descricao)
			</th>			
			<th>
				@Html.DisplayNameFor(model => model.VlrProduto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantidade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Valor)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>				
				<td>
					@Html.DisplayFor(modelItem => item.VlrProduto)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantidade)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Valor)
				</td>
				<td>
					@*@Html.ActionLink("Edit", "Editar", new { id=item.ProdutoId }) |*@
					@Html.ActionLink("Edit", "Produto", new { id = item.ProdutoId }) |
					@Html.ActionLink("Delete", "RemoverProdutosLista", new { id = item.ProdutoId })
				</td>
			</tr>
}
	</table>
</div>

@*<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=gJywsAhfeRw"></iframe>
	</div>
</div>*@
