@model ProjetoLucy.Domain.Entities.Produto

@{
	ViewBag.Title = "Produto";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4 style="color:deepskyblue">Cadastra novo Produto</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<input type="text" hidden="hidden" value="@Model.ProdutoId" name="ProdutoId" />
			<input type="text" hidden="hidden" value="@Model.CodProduto" name="CodProduto" />
			<div class="row">			
				<div class="col-md-4">
					@Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
					@Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					@Html.LabelFor(model => model.VlrProduto, htmlAttributes: new { @class = "control-label col-md-4" })<br /><br />
					@Html.EditorFor(model => model.VlrProduto, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.VlrProduto, "", new { @class = "text-danger" })
				</div>
				<div class="col-md-6">
					@Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-4" })<br /><br />
					@Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-10 col-md-10">
				<input type="submit" value="Salvar" class="btn btn-success" />
			</div>
		</div>
	</div>
}
<br />
<hr />
<br />
<!--Lista de Produtos inserido-->
@*<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CodProduto)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Descricao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.VlrProduto)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Quantidade)
		</th>
		<th></th>
	</tr>

	@foreach (var item in ViewBag.lista)
	{
		<tr>
			<td>
				@item.ProdutoId
			</td>
			<td>
				@item.Descricao
			</td>
			<td>
				@item.VlrProduto
			</td>
			<td>
				@item.Quantidade
			</td>
			<td>
				@Html.ActionLink("Edit", "Produto", new { id = item.ProdutoId }) |
				@Html.ActionLink("Delete", "RemoverProduto", new { id = item.ProdutoId })
			</td>
		</tr>
	}

</table>*@
<div>	
	<a href="@Url.Action("Listar", "Produto")" class="btn btn-primary small" role="button" aria-pressed="true">Voltar a lista</a>
</div>
