@model ProjetoLucy.Domain.Entities.Pedido

@{
	ViewBag.Title = "Pedido";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Pedido</h4>
		<hr />	

		<div class="form-group">
			@Html.LabelFor(model => model.Forma_pg, htmlAttributes: new { @class = "control-label col-md-2" })		
				<div class="col-md-10">
					<input type="radio" value="1" name="Forma_pg" checked="@(Model.Forma_pg == "1")"/> Dinherio <br />
					<input type="radio" value="2" name="Forma_pg" checked="@(Model.Forma_pg == "2")"/> Credito  <br />
					<input type="radio" value="3" name="Forma_pg" checked="@(Model.Forma_pg == "3")"/> Debito   <br />
				</div>					
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}
<table class="table">
	<tr>
		<th>
			Numero Produto
		</th>
		<th>
			Descrição
		</th>		
		<th>
			Quantidade estoque
		</th>
		<th>
			Valor Unitario
		</th>		
		<th>
			Selecionar
		</th>
		<th>
			Quantidade
		</th>
	</tr>
	@foreach (var item in ViewBag.Pedido)
	{
			<!---->
		<tr>
			<td>
				@item.ProdutoId
			</td>
			<td>
				@item.Descricao
			</td>			
			<td>
				@item.Quantidade
			</td>
			<td>
				@item.VlrProduto
			</td>	
			<td>
				<div class="checkbox">
					<input type="checkbox" />
				</div>
			</td>	
			<td>
				<input type="number" placeholder="Quantidade" name="Qtd" value="@Model.Qtd"/>
			</td>	
		</tr>
	}

</table>

<div>
	@Html.ActionLink("Voltar para lista", "Listar", new { @class = "btn btn-primary small" })
</div>
